<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo"> 
      <a class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span style="padding-left:10px;"> <b> Diabetics System</b></span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"
        ><span></span
      ></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li
          data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
          class="nav-item {% if 'index' in segment %} active {% endif %}"
        >
          <a href="/" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-home"></i></span
            ><span class="pcoded-mtext"><b>Dashboard</b></span></a
          >
        </li>

        <li class="nav-item pcoded-menu-caption">
          <label>SETUP PAGES</label>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu"
        >
          <a href="javascript:" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-box"></i></span
            ><span class="pcoded-mtext"><b>Patient</b></span></a
          >
          <ul class="pcoded-submenu">
            <li class="">
              <a href="{% url 'diagnose' %}" class=""
                ><i class="feather icon-users"></i><b> Create & Diagnose</b></a
              >
            </li>
            <li class="">
              <a href="{% url 'result_list' %}" class=""
                ><i class="feather icon-list"></i><b> Patient List</b></a
              >
            </li>
          </ul>
        </li>

<!-- 
        <li class="nav-item pcoded-menu-caption">
          <label>DATA ANALYSIS PAGE</label>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu"
        >
        <li class="">
          <a href="{% url 'eda' %}" class=""
            ><i class="feather icon-layers"></i><b> Visualizations</b></a
          >
        </li>
        </li> -->
        

        <li class="nav-item pcoded-menu-caption">
          <label>AUTHENTICATION</label>
        </li>

        <li
          data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
          class="nav-item pcoded-hasmenu"
        >
          <a href="javascript:" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-lock"></i></span
            ><span class="pcoded-mtext"><b>Authentication</b></span></a
          >
          <ul class="pcoded-submenu">

            <li class="">
              <a href="{% url 'logout' %}" class=""><i class="feather icon-power" style="color: red;"></i></span
                ><span class="pcoded-mtext"> <b>Login out</b></span></a>
            </li>

          </ul>
        </li>
     

      </ul>
    </div>
  </div>
</nav>
