{% extends "layouts/base.html" %} {% block title %} Diabetics system {% endblock
%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% load static %}


<div class=row>
  <div class=col-md-6>
    <div id="container" class="container" style="margin-top:20px;"> 
              
    </div>
  </div>

  <div class=col-md-6>
    <div id="contain" class="container" style="margin-top:20px;"> 
              
    </div>
  </div>

  <div class=col-md-6>
    <div id="contain2" class="container" style="margin-top:20px;"> 
              
    </div>
  </div>

  <div class=col-md-6>
    <div id="contain3" class="container" style="margin-top:20px;"> 
              
    </div>
  </div>


</div>
         
            
  

  {% block javascripts %}

  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column',
            style: {
            fontFamily: 'fira code'
        }
        },
        title: {
            text: '<b>Diabetics Analysis By Patient</b>'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {  
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 4250, 740, 38]
        }]
    });

    Highcharts.chart('contain', {
        chart: {
            type: 'bar',
            style: {
            fontFamily: 'fira code'
        }
        },
        title: {
            text: '<b>Diabetics Analysis By Patient</b>'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 4250, 740, 38]
        }]
    });

    
    Highcharts.chart('contain2', {
        chart: {
            type: 'area',
            style: {
            fontFamily: 'fira code'
        }
        },
        title: {
            text: '<b>Diabetics Analysis By Patient</b>'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2012',
            data: [1052, 954, 4250, 740, 38]
        }]
    });

    
    Highcharts.chart('contain3', {
        chart: {
            type: 'pie',
            style: {
            fontFamily: 'fira code'
        }
        },
        title: {
            text: '<b>Diabetics Analysis By Patient</b>'
        },
        xAxis: {
            categories: {{ labels|safe }}
        },
        series: [{
            name: 'Year 1800',
            data: {{ data|safe }}
        }]
    });

    </script>

  {% endblock javascripts %} {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
</div>

{% endblock %}
